* {
    @apply text-foreground;
}

html {
    @apply bg-background;
}

.nav-link {
    @apply text-foreground hover:text-gray-300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.keystore-upload::-webkit-file-upload-button {
    visibility: hidden;
  }
  
.keystore-upload::before {
content: 'Upload Keystore';
}

.keystore-upload {
    @apply text-foreground py-2 px-10 rounded border border-foreground bg-background hover:bg-gray-300 hover:text-background cursor-pointer w-fit;
}